<h1>All Sources in database</h1>

<p><%= link_to('Add Source', new_source_path) %></p>

<ul>
  <% @sources.each do |s| %>
    <li>Name: <%= s.name %> - <%= link_to('Edit Source Info', edit_source_path(s.id)) %> - <%= link_to('all articles', source_path(s.id)) %></li>
    <ul>
      <li>Style: <%= s.style %></li>
    </ul>
  <% end %>
</ul>