<div class="row">
  <div class="col-md-6">
<%= simple_form_for @book, defaults: { input_html: { class: 'form-control' } }, input_html: { class: 'form-horizontal' } do |f| %>
    <%= f.input :name %>
    <%= f.input :subheading %>
    <%= f.input :description %>
      <h3>Choose Articles for the book</h3>
      <%= f.collection_check_boxes :article_ids, Article.all, :id, :heading %>
      <p><%= f.submit :class => 'btn btn-default' %></p>
<% end %>
</div>
</div>