<%= simple_form_for @book do |f| %>
    <%= f.input :name %>
    <%= f.input :subheading %>
    <%= f.input :description %>
  <p>Articles:</p>
    <%= f.collection_check_boxes :article_ids, Article.all, :id, :heading %>
  <%= f.submit %>
<% end %>