<div class="rows"></div>
<div class="col-md-6">
Choose Chapters for Articles
<% @book.articles.each do |a1| %>
  <%= simple_form_for a1, :url => book_chapter_path(@book, a1) do |f1| %>
      <p>
        <%= a1.heading %>
        <%= f1.collection_radio_buttons :chapter_ids, @book.chapters.all, :id, :name %>
        <%= f1.submit 'Add to chapter' %>
      </p>

    <% end %>
<% end %>
</div>

<div class="col-md-6">

<%= render :partial => 'index' %>

</div>

</div>