<% unless @current_user.present? %>
  <h3>Welcome to Bookmarks Plus!</h3>
  <p>Bookmarks Plus is a new way to organize information for sharing and reading. The site is currently in a beta as we roll out necessary features. To get started, we recommend creating a new user profile, creating a book, then copying a collection of links into our autopopulate feature.</p>
  <p>The idea is to collect links to articles on a topic in a single 'book', and then divide that into chapters, providing a clean easy reading list for reviewing a topic, or introducing it to another person. While the initial idea is to just create books from existing web articles, Bookmarks Plus uses urls, so any piece of web content can be included in a book.</p>
  <p>Currently we are working on a chrome extension that allows you to make a book directly from a chrome folder, as well as display a sidebr for a book to make browsing through it easier.</p>
<% end %>
  <h3>Outstanding Issues:</h3>
  <ul>
    <li>If an article has properties missing, or any information is failed to be grabbed, there is no warning to tell you the article was not added. We recommend comparing lists after upload.</li>
    <li>There is no way to search the current database for books or articles. This is to be addressed as soon as the chrome extension is integrated. The articles table can be sorted by clicking on the relevant title.</li>
    <li>Articles cannot be reordered within a book or chapter. Chapters cannot be reordered within a book. This feature should be implemented within the next several days.</li>
  </ul>

<h1>All Books</h1>
<div class="row">
  <div class="col-md-8">
    <table class="table table-hover tablesorter tablesorter-bootstrap" id="allBooks">
      <thead>
        <tr>
          <td>Book</td>
          <td>Subheading</td>
          <td>Creator</td>
          <td>Status</td>
          <td>Articles</td>
          <td>Edit</td>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |b| %>
          <tr>
            <td><%= link_to(b.name, book_path(b.id)) %></td>
            <td><small><%= b.subheading %></small></td>
            <td><%= b.user.name %></td>
            <td><%= b.status %></td>
            <td><%= pluralize( b.articles.length, 'article' ) %></td>
            <% if @current_user.present? && ( b.user_id === @current_user.id ) %>
              <td><%= link_to('Edit Book', "/books/#{b.id}/format") %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
