<div class="row">
  <div class="col-md-4">
    <div class="page-header">
<h1><%= @book.name %>: <small><%= @book.subheading %></small></h1>
</div>
<blockquote>
<p><%= @book.description || 'This book has no description.' %></p>
</blockquote>

<% if @current_user.present? && (@book.user === @current_user) %>
  <p>Status: <%= @book.status || 'undefined' %> - Change the book's status or whatever options go here</p>
  <p><%= link_to('Edit Book', edit_book_path, :class => 'btn btn-default') %></p>
  <p><%= button_to 'Delete Book' ,@book, :method => :delete, :class => 'btn btn-danger' , :data => { :confirm => "Burn the book?"} %></p>
<% elsif @current_user.present? %>
  <p>Some whatever about adding book to your bookshelf</p>
<% else %>
  <p>Not logged in whatever features</p>
<% end %>
</div>
<dv class="col-md-2"></dv>
<div class="col-md-6">
<h2>Index</h2>
  <% if @book.articles.any? %>
    <ul>
    <% @book.articles.each do |a| %>
      <li><%= link_to(a.heading, a.url) %></li>
    <% end %>
    </ul>
  <% else %>
    <p>No Articles in this book yet.</p>
  <% end %>
  <% if @book.chapters.any? %>
    <% @book.chapter.each do |c| %>
      <%= c.name %>
    <% end %>
  <% end %>

  </div>
</div>