<h1><%= @chapter.name %> <small>in <%= link_to( @book.name, book_path(@book.id) ) %></small> </h1>
<h2>Edit:</h2>

<div class="row">
  <div class="col-md-5">
    <%= simple_form_for @chapter, :url => book_chapter_path, defaults: { input_html: { class: 'form-control' } }, input_html: { class: 'form-horizontal' } do |f| %>
      <%= f.input :name %>
      <%= f.collection_check_boxes :article_ids, @book.articles.all, :id, :heading %>
      <p><%= f.submit :class => 'btn btn-default' %></p>
    <% end %>
  </div>
</div>
